@import "tailwindcss";

:root {
  /* Warna identitas Bucket by Lisa */
  --background: #f6f8fd; /* Latar belakang dari index.css lama */
  --foreground: #171717;
  --primary: #769fcd; /* Warna biru utama dari index.css lama */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary); /* Menambahkan 'primary' ke class Tailwind */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
